@font-face {
  font-family: 'Inter-Black';
  src: url('./Font-Inter/Inter-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./Font-Inter/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./Font-Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('./Font-Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Light';
  src: url('./Font-Inter/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./Font-Inter/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./Font-Inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./Font-Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('./Font-Inter/Inter-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 16px; /* 滚动条宽度 */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道颜色 */
  border-radius: 4px; /* 滚动条轨道圆角 */
}
::-webkit-scrollbar-thumb {
  background: #eaeaea; /* 滚动条滑块颜色 */
  border-radius: 4px; /* 滚动条滑块圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background: #797979; /* 滚动条滑块悬停颜色 */
}
/* Firefox 滚动条样式 */
body {
  scrollbar-width: thin; /* 设置滚动条宽度为细 */
  scrollbar-color: #eaeaea #f1f1f1; /* 滚动条滑块颜色和轨道颜色 */
}

html, body {
  height: 100%;
  margin: 0;
}

.mac-book-pro-16-1,
.mac-book-pro-16-1 * {
  box-sizing: border-box;
}
.mac-book-pro-16-1 {
  background: #ffffff;
  width: 1728px;
  height: 2079px;
  position: relative;
  overflow: hidden;
}
.rectangle-19 {
  background: #eaeaea;
  width: 1728px;
  height: 283px;
  position: absolute;
  left: 0px;
  top: 1796px;
}
.rectangle-17 {
  background: #eaeaea;
  width: 567px;
  height: 553px;
  position: absolute;
  left: 307px;
  top: 1122px;
}
.rectangle-20 {
  background: #eaeaea;
  width: 567px;
  height: 553px;
  position: absolute;
  left: 933px;
  top: 1122px;
}
.image-1 {
  width: 1728px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.team {
  color: black;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 442px;
  width: 61px;
  height: 23px;
}
.team:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.team:focus {
  color: #587558; /* 点击后变绿色 */
}
.team2 {
  color: black;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1885px;
  width: 60px;
  height: 24px;
}
.team2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.team2:focus {
  color: #587558; /* 点击后变绿色 */
}
.news {
  color: black;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 478px;
  width: 61px;
  height: 23px;
}
.news:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.news:focus {
  color: #587558; /* 点击后变绿色 */
}
.news2 {
  color: black;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1922px;
  width: 60px;
  height: 23px;
}
.news2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.news2:focus {
  color: #587558; /* 点击后变绿色 */
}
.research {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 514px;
  width: 96px;
  height: 23px;
}
.research:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.research:focus {
  color: #587558; /* 点击后变绿色 */
}
.research2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1959px;
  width: 95px;
  height: 23px;
}
.research2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.research2:focus {
  color: #587558; /* 点击后变绿色 */
}
.publications {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 550px;
  width: 141px;
  height: 23px;
}
.publications:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.publications:focus {
  color: #587558; /* 点击后变绿色 */
}
.publications2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 1996px;
  width: 139px;
  height: 23px;
}
.publications2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.publications2:focus {
  color: #587558; /* 点击后变绿色 */
}
.gallery {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 64px;
  top: 586px;
  width: 111px;
  height: 23px;
}
.gallery:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.gallery:focus {
  color: #587558; /* 点击后变绿色 */
}
.gallery2 {
  color: #000000;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 58px;
  top: 2032px;
  width: 109px;
  height: 24px;
}
.gallery2:hover {
  color: #fccf00; /* 鼠标悬停时变黄色 */
  transition: color 0.4s; /* 过渡效果 */
}
.gallery2:focus {
  color: #587558; /* 点击后变绿色 */
}
.c-0038445-b-185-d-22284-bc-04-c-51-e-32778-1 {
  width: 1193px;
  height: 589px;
  position: absolute;
  left: 297px;
  top: 442px;
}
.component-10 {
  width: 190px;
  height: 15px;
  position: absolute;
  left: 804px;
  top: 1069px;
}
.ellipse-1 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 92.11%;
  left: 0%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-2 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 78.95%;
  left: 13.16%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-3 {
  background: #282828;
  border-radius: 50%;
  position: absolute;
  right: 65.79%;
  left: 26.32%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-4 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 52.63%;
  left: 39.47%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-5 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 39.47%;
  left: 52.63%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-6 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 26.32%;
  left: 65.79%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-7 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 13.16%;
  left: 78.95%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-8 {
  background: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 92.11%;
  width: 7.89%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
._1 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 1509px;
  top: 716px;
}
._2 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 236px;
  top: 716px;
}
.introduction {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 333px;
  top: 1153px;
  width: 127px;
  height: 19px;
}
.news3 {
  color: #000000;
  text-align: left;
  font: 800 20px "Inter-ExtraBold", sans-serif;
  position: absolute;
  left: 954px;
  top: 1153px;
  width: 71px;
  height: 19px;
}
.logo-1 {
  width: 56px;
  height: 60px;
  position: absolute;
  left: 1462px;
  top: 1824px;
}
.logo-2 {
  width: 60px;
  height: 56px;
  position: absolute;
  left: 58px;
  top: 1819px;
}
.logo-12 {
  width: 299px;
  height: 148px;
  position: absolute;
  left: 56px;
  top: 42px;
}
._12 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1446px;
  top: 72px;
}
.rectangle-21 {
  background: #000000;
  width: 3px;
  height: 11px;
  position: absolute;
  left: 1018px;
  top: 1161px;
}
.rectangle-22 {
  background: #000000;
  width: 3px;
  height: 11px;
  position: absolute;
  left: 1014px;
  top: 1168px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.about-the-lab-the-intelligent-small-scale-robotics-lab-issrl-is-directed-by-prof-qianqian-wang-chinese-our-lab-studie-small-scale-robotics-microrobotic-swarm-dynamic-self-assembly-and-micromanipulation-our-lab-has-been-sponsored-by-various-funding-bodies-inlcuding-the-national-natural-science-foundation-of-china-department-of-science-and-technology-of-jiangsu-province-and-xiaomi {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: absolute;
  left: 333px;
  top: 1195px;
  width: 517px;
  height: 162px;
}
.about-the-lab-the-intelligent-small-scale-robotics-lab-issrl-is-directed-by-prof-qianqian-wang-chinese-our-lab-studie-small-scale-robotics-microrobotic-swarm-dynamic-self-assembly-and-micromanipulation-our-lab-has-been-sponsored-by-various-funding-bodies-inlcuding-the-national-natural-science-foundation-of-china-department-of-science-and-technology-of-jiangsu-province-and-xiaomi-span {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
.about-the-lab-the-intelligent-small-scale-robotics-lab-issrl-is-directed-by-prof-qianqian-wang-chinese-our-lab-studie-small-scale-robotics-microrobotic-swarm-dynamic-self-assembly-and-micromanipulation-our-lab-has-been-sponsored-by-various-funding-bodies-inlcuding-the-national-natural-science-foundation-of-china-department-of-science-and-technology-of-jiangsu-province-and-xiaomi-span2 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: underline;
}
.about-the-lab-the-intelligent-small-scale-robotics-lab-issrl-is-directed-by-prof-qianqian-wang-chinese-our-lab-studie-small-scale-robotics-microrobotic-swarm-dynamic-self-assembly-and-micromanipulation-our-lab-has-been-sponsored-by-various-funding-bodies-inlcuding-the-national-natural-science-foundation-of-china-department-of-science-and-technology-of-jiangsu-province-and-xiaomi-span3 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program {
  color: #000000;
  text-align: left;
  font: 400 15px "-", sans-serif;
  position: absolute;
  left: 954px;
  top: 1195px;
  width: 517px;
  height: 452px;
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-span2 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span2 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span2 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span3 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-span4 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span4 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span4 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span5 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-span6 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span6 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span6 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span7 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-span8 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span8 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span8 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span9 {
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span10 {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
._2023-span11 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span11 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span11 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span12 {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
._2023-span13 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span13 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span13 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span14 {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
._2023-span15 a{
  color: #000000;
  font: 500 15px "Inter-Medium", sans-serif;
  text-decoration: none; /* 移除链接下划线 */
}
._2023-span15 a:hover {
  text-decoration: none; /* 鼠标悬停时也不显示下划线 */
  transition: color 0.4s;
  color: #fccf00; /* 鼠标悬停时变为黄色 */
}
._2023-span15 a:focus {
  color: #587558; /* 点击后变绿色 */
}
._2023-11-dr-wang-won-the-open-science-excellent-author-program-due-to-the-high-impact-of-our-advanced-intelligent-systems-article-link-which-received-more-than-6-000-downloads-in-3-months-from-worldside-researchers-2023-09-2023-l-ink-2023-09-our-springer-book-entitled-magnetic-micro-and-nanorobot-swarms-from-fundamentals-to-applications-is-online-this-book-is-focused-on-the-attractive-emerging-field-of-micro-nanorobot-swarms-microswarms-it-introduces-fundamental-understandings-of-various-microswarms-and-demonstrates-applications-of-micro-nanorobot-swarms-in-different-fields-link-2023-08-dr-wang-won-the-mine-outstanding-young-scientist-award-mine-2023-link-2023-03-our-science-advances-paper-ultrasound-doppler-guided-real-time-navigation-of-a-magnetic-microswarm-for-active-endovascular-delivery-has-been-highlighted-as-hot-paper-top-0-1-link-2022-11-dr-wang-won-the-1st-xiaomi-young-talents-program-span16 {
  color: #000000;
  font: 400 15px "Inter-Regular", sans-serif;
}
.keyords-small-scale-robotics-microrobotic-swarm-dynamic-self-assembly-and-micromanipulation-magnetic-control-medical-devices-flexible-multi-modal-micro-miniature-robot-and-micro-nano-medical-device {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: absolute;
  left: 333px;
  top: 1378px;
  width: 511px;
  height: 90px;
}
.short-biography-of-pi-prof-qianqian-wang-joined-southeast-university-in-february-2022-and-is-now-serving-as-the-young-chief-professor-at-the-school-of-mechanical-engineering-as-well-as-a-doctoral-supervisor-he-was-selected-for-the-national-overseas-high-level-young-talents-program-and-was-among-the-first-recipients-of-the-xiaomi-young-scholar-and-the-mine-excellent-young-scientist-award-additionally-professor-wang-serves-as-an-associate-editor-guest-editor-and-reviewer-for-multiple-professional-journals-and-international-conferences-including-the-ieee-transactions-series-and-ieee-iros {
  color: #000000;
  text-align: left;
  font: 500 15px "Inter-Medium", sans-serif;
  position: absolute;
  left: 333px;
  top: 1489px;
  width: 517px;
  height: 180px;
}
.we-are-creating-the-future-here {
  color: #ffffff;
  text-align: left;
  font: 700 48px "Inter-Bold", sans-serif;
  position: absolute;
  left: 533px;
  top: 42px;
  width: 736px;
  height: 49px;
}
.image-2 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 1540px;
  top: 1826px;
}
._22 {
  width: 39px;
  height: 32px;
  position: absolute;
  left: 1527px;
  top: 72px;
}
._3 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1615px;
  top: 72px;
}
.prof-qianqian-wang-intelligent-small-scale-robotics-lab-southeast-university {
  color: #000000;
  text-align: left;
  font: 500 16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 1461px;
  top: 1903px;
  width: 200px;
  height: 90px;
}
